{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SelfLink | {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/fontawesome-free-5.15.2-web/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/page-create.css' %}">
</head>
<body>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    </div>
    {% block content %}
    {% endblock %}
    <div class="space"></div>
</body>
</html>
