:root {
  --bgcolor1: #212121;
  --bgcolor2: var(--bgcolor1);
  --bodytext: #EDEDED;
  --buttonbg: #03dac6;
  --buttontext: #212121;
  --bottom-nav-bg: #252525;
  --bottom-nav-color: #EDEDED;
  --bottom-nav-hover-color: var(--buttonbg);
  --entry-bg: var(--bottom-nav-bg);
}


@font-face {
    font-family: 'CeraProMedium';
    src: url('fonts/CeraProMedium.woff2')
}

body {
  background: linear-gradient(90deg, var(--bgcolor1), var(--bgcolor2));
  color: var(--bodytext);
  font-family: 'CeraProMedium', sans-serif;
  word-wrap: break-word;
}

a, h1, h2, h3, h4, h5, h6 {
  color: var(--buttonbg)
}

*:focus {
  outline: none;
}

.section-title {
  font-weight: bold;
  font-size: 2rem;
}

.flex {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.half {
  max-width: 50%;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 90%;
  }

  .half {
    max-width: 100%;
  }
}

input[type=text], input[type=url], input[type=email], input[type=password], input[type=search], input[type=tel], input[type=number] {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  padding: 25px;
  border: 3px solid rgba(213, 221, 236, 0.4);
  margin-bottom: 10px;
  /*box-shadow: rgba(213, 221, 236, 0.4) 5px 5px 5px 5px;*/
}

.cta {
  margin: 0;
  padding: 0;
  display: inline-block;
  border-radius: 5px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
/*  margin-bottom: 60px;
*/  cursor: pointer;
}

.cta1 {
  border: solid 2px var(--buttonbg);
  color: var(--buttontext);
  background: var(--buttonbg);
}

.cta1:focus {
  border: solid 2px var(--buttonbg);
  background: transparent;
  transition: 0.3s;
  text-decoration: none;
  color: var(--buttonbg);
}

/*--------- botom nav ----------*/
.bottom-nav {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100vw;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--bottom-nav-bg);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    padding: 10px;
    display: flex;
    z-index: 1000;
    /*border: 3px solid rgba(213, 221, 236, 0.4);*/
    /*box-shadow: rgba(213, 221, 236, 0.4) 1px 1px 1px 1px;*/
    font-size: 1.5rem;
}

.bottom-nav a {
  color: var(--bottom-nav-color);
}

.bottom-nav a:hover, .bottom-nav-active a {
  color: var(--bottom-nav-hover-color);
}

@media only screen and (min-width: 800px) {
  .bottom-nav {
    top: 0;
    height: 100vh;
    width: 65px;
    flex-direction: column;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
  }
}
