{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>

    {% if request.user.is_authenticated %}
    <!-- Nav -->
    <div class="bottom-nav">
        <div class="">
            <a href="/#/"><i class="fal fa-home"></i></a>
        </div>
        <div class="">
            <a href="/#/password-generator"><i class="fal fa-dice"></i></a>
        </div>
        <div class="">
            <a href="/#/info"><i class="fal fa-info"></i></a>
        </div>
        <div class="bottom-nav-active">
            <a href="/#/settings"><i class="fal fa-cog"></i></a>
        </div>
    </div>
    <!-- End of Nav -->
    {% endif %}
{% endblock %}
