{% extends "account/base.html" %}

{% load static %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="cta cta1" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
    <!-- Nav -->
    <div class="bottom-nav">
        <div class="">
            <a href="/#/"><i class="fal fa-home"></i></a>
        </div>
        <div class="">
            <a href="/#/password-generator"><i class="fal fa-dice"></i></a>
        </div>
        <div class="">
            <a href="/#/info"><i class="fal fa-info"></i></a>
        </div>
        <div class="bottom-nav-active">
            <a href="/#/settings"><i class="fal fa-cog"></i></a>
        </div>
    </div>
    <!-- End of Nav -->
{% endblock %}
