{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
    <h3>Are you sure you want to Logout?</h3>
    <div class="border-top pt-3">
        <small class="text-muted">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button class="cta cta1" type="submit">Yes, Logout</button>
                <a href="/#/settings" >Return</a>
            </form>
        </small>
    </div>
    <!-- Nav -->
    <div class="bottom-nav">
        <div class="">
            <a href="/#/"><i class="fal fa-home"></i></a>
        </div>
        <div class="">
            <a href="/#/password-generator"><i class="fal fa-dice"></i></a>
        </div>
        <div class="">
            <a href="/#/info"><i class="fal fa-info"></i></a>
        </div>
        <div class="">
            <a href="/#/settings"><i class="fal fa-cog"></i></a>
        </div>
    </div>
    <!-- End of Nav -->
{% endblock content %}
