{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>

    {% if request.user.is_authenticated %}
        <!-- Nav -->
        <div class="footer flex">
            <div class="sidebar-link footer-active">
                <a href="{% url 'landing_as_author_pv' user.username %}"><img src="{% static 'leadfy/img/blackhome.png' %}"></a>
            </div>
            <div class="sidebar-link footer-active">
                <a href="{% url 'dashboard' 0 %}"><img src="{% static 'leadfy/img/blackchart.png' %}"></a>
            </div>
            <div class="sidebar-link">
                <a href="{% url 'preferences' %}"><img src="{% static 'leadfy/img/brush.png' %}"></a>
            </div>
            <div class="sidebar-link">
                <a href="{% url 'settings' %}"><img src="{% static 'leadfy/img/bluegear.png' %}"></a>
            </div>
        </div>
    {% endif %}
{% endblock %}
