{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1>{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    {% if request.user.is_authenticated %}
    <!-- Nav -->
    <div class="bottom-nav">
        <div class="">
            <a href="/#/"><i class="fal fa-home"></i></a>
        </div>
        <div class="">
            <a href="/#/password-generator"><i class="fal fa-dice"></i></a>
        </div>
        <div class="">
            <a href="/#/info"><i class="fal fa-info"></i></a>
        </div>
        <div class="">
            <a href="/#/settings"><i class="fal fa-cog"></i></a>
        </div>
    </div>
    <!-- End of Nav -->
    {% endif %}
{% endblock %}
