{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
<div class="register-form">
{% block content %}
    <div class="form-section">
        <form method="POST">
            {% csrf_token %}
            <h3>Sign Up</h3>
            {{ form|crispy }}
            <button class="cta cta1" type="submit">Sign Up</button>
            <!-- <a href="{% provider_login_url 'google' %}">Login with Google</a> -->
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'account_login' %}">Login</a>
            </small>
        </div>
    </div>
{% endblock content %}
</div>
