body {
  background: lightblue;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

form, .alert {
  max-width: 400px;
  margin: 10px auto;
}

.container {
}

input[type=text], input[type=url], input[type=email], input[type=password], input[type=search], input[type=tel], input[type=number] {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 25px;
  border: 3px solid rgba(213, 221, 236, 0.4);
  box-shadow: rgba(213, 221, 236, 0.4) 20px 20px 20px 20px;
  margin: 10px
}

.cta {
  margin: 0;
  padding: 0;
  display: inline-block;
  border-radius: 10px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 60px;
  cursor: pointer;
}

.cta1 {
  border: solid 2px rgb(48, 112, 212);
  color: white;
  background: rgb(48, 112, 212);
}

.cta1:hover {
  background:  transparent;
  transition: 0.3s;
  text-decoration: none;
  color: rgb(48, 112, 212);
}
